.intro {
  height: 60vh;
  width: inherit;
  top: 0;
  line-height: 2.0;
  background: url(../image/memories.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-text {
  display: flex;
  align-items: center;
  color: #efefef;
}

.row1,
.about {
  height: 100%;
}

.mission {
  color: #636363;
}

.gift {
  height: 50vh;
  width: inherit;
  background: url(../image/seek.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
