.header {
  height: 100vh;
  width: 100%;
}

.title {
  color: black;
}

span {
  color: #636363;
}

.row1 {
  height: 100%;
}

.info {
  font-size: 1.5rem;
}

.intro-text {
  display: flex;
  align-items: center;
}

button {
  padding: 10px 20px;
  color: #efefef;
  font-size: 20px;
  background-color: red;
  border-radius: 5px;
}
